.jogs-list {
  margin: 0 -25px;
  &__empty {
    text-align: center;
    .svg-icon {
      display: block;
      font-size: 85px;
      margin: 0 auto 30px;
    }
    p {
      color: $grey-3;
      font-size: 24px;
      text-align: center;
    }
    .btn {
      margin-top: 145px;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $white-3;
    padding: 48px 25px;
    &-left {
      margin-right: 46px;
      .svg-icon {
        display: block;
        font-size: 87px;
      }
    }
    &-right {
      min-width: 135px;
      display: flex;
      flex-direction: column;
      span {
        color: $grey-3;
      }
      strong {
        font-weight: 500;
        margin-top: 12px;
        span {
          color: $grey-1;
        }
      }
    }
  }
}

.jogs-form {
  position: relative;
  width: 100%;
  background-color: $green-2;
  padding: 64px 35px 37px;
  border-radius: 29px;
  &__inner {
    max-width: 320px;
    margin: 0 auto;
  }
  &__close {
    position: absolute;
    top: 21px;
    right: 21px;
    .svg-icon {
      font-size: 19px;
      fill: $white-1;
    }
  }
}

.jogs-filters {
  width: 100%;
  background-color: $white-2;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;
  }
  .form-group {
    flex-direction: row;
    transition: opacity .2s;
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 20px;
    }
    label {
      color: $grey-1;
      font-size: 13px;
      width: auto;
      margin-right: 10px;
    }
    input.text-input {
      font-size: 12px;
      border-radius: 11px;
      width: 90px;
    }
  }
}

.expand-enter-active,
.expand-leave-active {
  .jogs-filters {
    &__inner {
      .form-group {
        opacity: 0;
      }
    }
  }
}

@include media-min-width(md) {
  .jogs-list {
    margin: 0;
    &__empty {
      .svg-icon {
        font-size: 150px;
        margin: 0 auto 47px;
      }
    }
    &__item {
      border-bottom: none;
      padding: 44px 0;
    }
  }

  .jogs-form {
    width: 503px;
    margin: 0 auto;
    padding: 101px 35px 47px;
    border-radius: 44px;
    &__close {
      top: 27px;
      right: 27px;
      .svg-icon {
        font-size: 27px;
      }
    }
  }

  .jogs-filters {
    .form-group {
      &:not(:last-child) {
        margin-right: 45px;
      }
      label {
        margin-right: 15px;
      }
      input.text-input {
        font-size: 13px;
        width: 100px;
      }
    }
  }
}