@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Regular.woff2') format('woff2'),
      url('../fonts/SFUIDisplay/SFUIDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Medium.woff2') format('woff2'),
      url('../fonts/SFUIDisplay/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFUIDisplay';
  src: url('../fonts/SFUIDisplay/SFUIDisplay-Bold.woff2') format('woff2'),
      url('../fonts/SFUIDisplay/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}