$breakpoints: (
  xs: 375px,
  sm: 768px,
  md: 1024px,
  lg: 1200px
);

$white-1: #ffffff;
$white-2: #eaeaea;
$white-3: #d7d7d7;

$grey-1: #979797;
$grey-2: #b0abab;
$grey-3: #b0b0b0;
$grey-4: #4a4a4a;

$green-1: #62aa14;
$green-2: #7ed321;

$purple-1: #e990f9;

$red-1: #d32125;